<!DOCTYPE html>
<html>
<head>
  <title>BandsOnFire</title>
	 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "Bands On Fire", root_path %></h3>
    <h5 class="muted">This bands are really hot right now!!!</h5>
    <%= flash_message %>
  </div>
  <hr />
  <%= yield %>
</div>

</body>
</html>
