<!DOCTYPE html>
<html>
<head>
  <title>BandsOnFire</title>
  <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  -->
 
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel='stylesheet' type='text/css'>
  
</head>
<body>
<div class="container-narrow">
  <div class="masthead">
    

    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "Bands On Fire", root_path %></h3>
    <h5 class="muted">This bands are really hot right now!!!</h5>
    <%= flash_message %>
  </div>
  <hr />
  <%= yield %>
</div>
<div id="footer">
      <div class="container">
        <p class="muted credit">This is a footer</p>
      </div>
</div>

</body>
</html>
